# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de base de datos
MONGODB_URI=mongodb://localhost:27017/lunae
DB_NAME=lunae

# Configuración de AWS
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_S3_BUCKET=eleven-lunea-storage

# Configuración de JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h

# Configuración de CORS
CORS_ORIGIN=http://192.168.1.11:3000,http://localhost:3000,http://localhost:19006

# Configuración de logs
LOG_LEVEL=debug
